<template>
  <div id="app">
    <form action="" class="bg-blue-500 py-4">
      <input
        type="text"
        name="query"
        id="query"
        v-model="query"
        class="block mx-auto p-2 rounded"
      />
    </form>
    <ul class="flex flex-wrap justify-center max-w-5xl mx-auto">
      <li
        v-bind:key="photo.image"
        v-for="photo in filteredPhotos"
        v-on:click="getImg(photo)"
        class="m-6"
      >
        <img :src="getThumbUrl(photo.image)" :alt="photo.description" />
      </li>
    </ul>
    <div
      v-if="overlay"
      class="absolute bg-gray-900 h-full left-0 text-gray-100 top-0 w-full"
      style="background-color: rgba(74, 85, 104, 0.95)"
    >
      <div class="flex justify-end">
        <div class="cursor-pointer px-6 text-6xl" v-on:click="closeOverlay">
          &Cross;
        </div>
      </div>
      <div class="flex items-center justify-center">
        <div class="cursor-pointer text-6xl" v-on:click="previous">
          &leftarrow;
        </div>
        <div class="w-1/2">
          <img
            :src="getImgUrl(filteredPhotos[overlayInfo].image)"
            :alt="filteredPhotos[overlayInfo].description"
          />
          <p class="text-center">
            {{ filteredPhotos[overlayInfo].description }}
          </p>
        </div>
        <div class="cursor-pointer text-6xl" v-on:click="next">
          &rightarrow;
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import gallery from "./assets/json/gallery.json";

export default {
  name: "App",
  components: {},
  computed: {
    filteredPhotos: function() {
      if (this.query.length === 0) {
        return this.photos;
      } else {
        return this.photos.filter(photo =>
          photo.description.includes(this.query)
        );
      }
    }
  },
  data: function() {
    return {
      overlay: false,
      overlayInfo: null,
      photos: gallery.photos,
      query: ""
    };
  },
  methods: {
    closeOverlay() {
      this.overlay = false;
    },
    getImg(photo) {
      this.overlayInfo = this.filteredPhotos.findIndex(
        element => element.image === photo.image
      );
      this.overlay = true;
    },
    getImgUrl(photo) {
      return require(`./assets/img/${photo}`);
    },
    getThumbUrl(photo) {
      return require(`./assets/img/thumbnail/${photo}`);
    },
    next() {
      if (this.overlayInfo + 1 < this.filteredPhotos.length) {
        this.overlayInfo += 1;
      }
    },
    previous() {
      if (this.overlayInfo - 1 > -1) {
        this.overlayInfo -= 1;
      }
    }
  },
  mounted: function() {
    document.addEventListener("keydown", event => {
      if (this.overlay) {
        switch (event.code) {
          case "ArrowLeft":
            this.previous();
            break;
          case "ArrowRight":
            this.next();
            break;
          case "Escape":
            this.closeOverlay();
            break;
        }
      }
    });
  }
};
</script>

<style></style>
